body{
	font-family: sans-serif;
} 

.glass {
	background-color: rgba(255, 255, 255);
}

.rounded {
	border-radius: 20px !important;
}

h1{
	text-align: center;
	font-weight: 300px;
}
 
label{
	font-size: 9pt;
}
 
 
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}







